[Desktop Entry]
Encoding=UTF-8
BinaryPattern=kcharselect;
Protocols=
Comment=Character Selector
Comment[af]=karakter kiesser
Comment[ar]=خريطة المحارف
Comment[az]=Xarakter Seçici
Comment[bg]=Програма за избор на символи
Comment[br]=Diuzer arouezenn
Comment[bs]=Izbor znakova
Comment[ca]=Selector de caràcters
Comment[cs]=Vyběr znaků
Comment[da]=Tegnvælger
Comment[de]=Tabelle zur Zeichenauswahl
Comment[el]=Επιλέγει ένα χαρακτήρα
Comment[eo]=Elektilo por signoj
Comment[es]=Selector de caracteres
Comment[et]=Sümbolite valija
Comment[eu]=Karaktere Hautatzailea
Comment[fi]=Valitse merkki leikepöydälle
Comment[fr]=Sélecteur de caractères
Comment[gl]=Selector de Caracteres
Comment[he]=בוחר תווים
Comment[hr]=Izbor znakova
Comment[hu]=Karakterválasztó
Comment[id]=Pemilih Karakter
Comment[is]=kcharselect:  Val stafa
Comment[it]=Selettore di caratteri
Comment[ja]=文字の選択
Comment[ko]=글자 고르기
Comment[lt]=Simbolių parinkimas
Comment[lv]=Simbolu Selektors
Comment[mk]=Избор на знаци
Comment[mt]=Agħżel Karattri
Comment[nb]=Tegnvelger
Comment[nl]=programma voor het selecteren van speciale tekens
Comment[nn]=Teiknveljar
Comment[oc]=Selector de caracters
Comment[pl]=Wybór pojedynczego znaku
Comment[pt]=Selector de caracteres
Comment[pt_BR]=Selecionador de Caracteres
Comment[ru]=Утилита выбора символов
Comment[sk]=Volič znakov
Comment[sl]=Izbiranje znakov
Comment[sr]=Program za pregledanje i biranje znakova
Comment[sv]=Teckenväljare
Comment[ta]=¯Õò §¾÷Å¡Ç÷
Comment[tr]=Karekter Seçici
Comment[uk]=Таблиця символів
Comment[vi]=Trình chọn kí tự 
Comment[xh]=Umkhethi womsebenzi
Comment[xx]=xx
Comment[zh_CN]=字符选择
Comment[zh_TW]=字元選擇器
Comment[zu]=Umkhethi Womsebenzi
Exec=kcharselect %i %m
Icon=kcharselect
TerminalOptions=
Path=
Extensions=
Type=Application
Terminal=0
Name=KCharSelect
Name[af]=kcharselect
Name[fr]=Sélecteur de caractères
Name[hu]=KCharSelect karakterválasztó
Name[nl]=KCharSelect (speciale tekens)
Name[sv]=Kcharselect
Name[tr]=Karakter Seçici
Name[xx]=xx
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
