[Desktop Entry]
Encoding=UTF-8
GenericName=Character Selector
GenericName[x-test]=xxCharacter Selectorxx
Exec=kcharselect -caption "%c"
Icon=kcharselect
Path=
Type=Application
Terminal=false
DocPath=kcharselect/index.html
Name=KCharSelect
Name[x-test]=xxKCharSelectxx
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Utility;X-KDE-More;
