[Desktop Entry]
Encoding=UTF-8
BinaryPattern=kcharselect;
GenericName=Character Selector
GenericName[ar]=خريطة المحارف
GenericName[az]=Xarakter Seçici
GenericName[bg]=Програма за избор на символи
GenericName[br]=Diuzer arouezenn
GenericName[bs]=Izbor znakova
GenericName[ca]=Selector de caràcters
GenericName[cs]=Vyběr znaků
GenericName[da]=Tegnvælger
GenericName[de]=Tabelle zur Zeichenauswahl
GenericName[el]=Επιλέγει ένα χαρακτήρα
GenericName[eo]=Elektilo por signoj
GenericName[es]=Selector de caracteres
GenericName[et]=Sümbolite valija
GenericName[eu]=Karaktere Hautatzailea
GenericName[fi]=Valitse merkki leikepöydälle
GenericName[fr]=Sélecteur de caractères
GenericName[gl]=Selector de Caracteres
GenericName[he]=בוחר תווים
GenericName[hr]=Izbor znakova
GenericName[hu]=karakterválasztó
GenericName[id]=Pemilih Karakter
GenericName[is]=kcharselect:  Val stafa
GenericName[it]=Selettore di caratteri
GenericName[ja]=文字の選択
GenericName[ko]=글자 고르기
GenericName[lt]=Simbolių parinkimas
GenericName[lv]=Simbolu Selektors
GenericName[mk]=Избор на знаци
GenericName[mt]=Agħżel Karattri
GenericName[nb]=Tegnvelger
GenericName[nl]=Programma voor het selecteren van speciale tekens
GenericName[nn]=Teiknveljar
GenericName[oc]=Selector de caracters
GenericName[pl]=Wybór pojedynczego znaku
GenericName[pt]=Selector de caracteres
GenericName[pt_BR]=Selecionador de Caracteres
GenericName[ro]=Selector de caractere
GenericName[ru]=Утилита выбора символов
GenericName[sk]=Volič znakov
GenericName[sl]=Izbiranje znakov
GenericName[sr]=Program za pregledanje i biranje znakova
GenericName[sv]=Teckenväljare
GenericName[ta]=¯Õò §¾÷Å¡Ç÷
GenericName[th]=เครื่องมือเลือกอักขระ
GenericName[tr]=Karakter Seçici
GenericName[uk]=Таблиця символів
GenericName[ven]=Munangi wa muanewa
GenericName[vi]=Trình chọn kí tự 
GenericName[wa]=Tchoezixheu di caracteres
GenericName[xh]=Umkhethi womsebenzi
GenericName[xx]=xx
GenericName[zh_CN]=字符选择
GenericName[zh_TW]=字元選擇器
GenericName[zu]=Umkhethi Womsebenzi
Exec=kcharselect -caption "%c" %i %m
Icon=kcharselect
TerminalOptions=
Path=
Type=Application
Terminal=0
DocPath=kcharselect/index.html
Name=KCharSelect
Name[af]=kcharselect
Name[eo]=Signoelektilo
Name[nl]=KCharSelect (speciale tekens)
Name[pl]=Wybór znaków
Name[pt_BR]=KChart - Gerador de diagramas
Name[sv]=Kcharselect
Name[th]=เลือกอักขระ
Name[tr]=Karakter Seçici
Name[ven]=U nanga muanewa wa K
Name[xh]=Itshati yokukheta i K
Name[xx]=xx
Name[zh_TW]=KDE 字元選擇
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
